@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* Custom scrollbar for a more branded feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a102c; 
}
::-webkit-scrollbar-thumb {
  background: #e677af;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8073f1;
}
/* Hide arrows from number input */
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide-arrows {
  -moz-appearance: textfield;
}
/* Custom Slider Styles */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #e677af; /* brand-pink */
  border: 2px solid #8073f1; /* brand-purple */
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: -9px; /* center thumb on track */
}
.custom-slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 4px rgba(230, 119, 175, 0.5);
}
.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #e677af; /* brand-pink */
  border: 2px solid #8073f1; /* brand-purple */
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.custom-slider:focus::-moz-range-thumb {
    box-shadow: 0 0 0 4px rgba(230, 119, 175, 0.5);
}
